.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boom {
  width: 60%;
  background-color: #e9ecef;
  padding: 4rem;
  border-radius: 0.3rem;
  font-family: "Lato";
  margin-top: 40px;
}

h2 {
  color: #212121;
}
.headerbar {
  padding: 10px;
  width: 100%;
  background-color: cornflowerblue;
}
.headerbar > span {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  margin-left: 20px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

#log-out-button {
  margin-right: 5px;
}

#delete-profile-button {
  margin-right: 5px;
  margin-left: 5px;
}

#change-profile-button {
  margin-left: 5px;
}

#create-new-entry-button {
  margin-top: 10px;
  margin-right: 10px;
}

.center {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#logo {
  margin-top: auto;
}

.btn-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

#no-entries-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-black {
  background-color: black;
  color: #fff;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:host {
  background: lightgray;
}

.buttons {
  margin-left: 10px;
  margin-bottom: 10px;
}

#menu_button {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#menu_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.entries-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.mat-cell {
  padding: 8px 8px 8px 0;
  width: 150px;
}
